@use "../variables" as var;

.AboutMeSection {
  @extend %xPadding;
  margin-bottom: 8em;
}

.Main {

}

.MainText {
  margin-bottom: 4em;

  h2 {
    font-family: var.$novaFont;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5em;
    color: #EEEEEE;
  }

  p {
    font-weight: 300;
    font-size: 1.125rem;
    color: #CBCBCB;
    margin-bottom: .75em;

    &:last-child {
      margin-bottom: 0;
    }

    strong {
      font-weight: 400;
      color: #ECECEC;
    }
  }
}

.MainImageContainer {
  border-radius: 10px;
  overflow: auto;
  max-width: 400px;
  margin: 0 auto 8em;
}

.MainImage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Skills {
  & > div {
    background-color: #262C35;
    border-radius: 5px;
    margin-bottom: 1.5em;
    padding: 2em .5em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h3 {
    font-size: 1.5rem;
    font-family: var.$novaFont;
    text-align: center;
    margin-bottom: 1.5em;
  }

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 2em .5em;
  }

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    div {   
      background-color: #1E242C;
      border-radius: 5px;
      border-bottom: 2px solid var.$primaryColor;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: .5em;
      padding: .75em .625em;
    }

    h4 {
      font-family: var.$novaFont;
      font-size: .875rem;
      text-align: center;
    }
  }

  @media (min-width: 300px) {
    ul {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (min-width: 425px) {
    ul {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media (min-width: 576px) {
    ul {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  @media (min-width: 768px) {
    ul {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}

.SkillsFront {
}

.SkillsBack {
}

.SkillsTools {
}
