@use "../variables" as var;

.WorkExperienceSection {
  @extend %xPadding;
  margin-bottom: 8em;

  h2 {
    font-family: var.$novaFont;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5em;
    color: #EEEEEE;
  }

  & > div {
    background-color: #262C35;
    border-radius: 5px;
    margin-bottom: 1em;
    padding: 2em 1em;
  }
}

.MainSections {
  h3 {
    font-weight: 400;
    font-size: 1.375rem;
    color: #EEEEEE;
    text-align: center;
    margin-bottom: .5rem;
  }

  & > p {
    color: #CBCBCB;
    font-size: 1.125rem;
    font-weight: 300;
    margin-bottom: 2em;
  }
}

.CompanyDetails {
  display: flex;
  flex-direction: column-reverse;

  span {
    display: inline-block;
    color: var.$primaryColor;
    font-weight: 300;
    text-align: center;
    font-size: .875rem;
    margin-bottom: 1.75rem;
  }

  h4 {
    color: #CBCBCB;
    font-weight: 200;
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: .5rem;
  }

}

.RolesList {
  margin-bottom: 4em;

  li {
  }

  button {
    background-color: #191E26;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: .75em;
    font-size: 1rem;
    font-weight: 300;
    border-radius: 5px;
    border-bottom: 1px solid #195A62;
    margin-bottom: .75em;
    color: #CBCBCB;
    transition: 150ms ease-in-out;
    transition-property: background,border;

    &:hover {
      background-color: var.$hoverColor;
      border-color: var.$primaryColor;
    }
  }
}

.RoleImages {
  margin-bottom: 2em;
  border-radius: 10px;

  div > button {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
  }
}

.RolesImagesPagination {
  position: relative;

  & > div {
    position: absolute;
  }
}

.RoleButtons {
  margin-top: 5em;

  a {
    background-color: #191E26;
    border-bottom: 1px solid #195A62;
    font-size: 1.25rem;
    font-family: var.$novaFont;
    padding: .75em 1.5em;
    border-radius: 5px;
    display: block;
    margin: auto;
    text-align: center;
    max-width: 250px;

    transition: 150ms ease-in-out;
    transition-property: background,border;

    &:hover {
      background-color: var.$hoverColor;
      border-color: var.$primaryColor;
    }
  }
}