$primaryColor: #00ADB5;
$primaryDarkColor: #1E242C;

$whiteColor: #EEEEEE;
$textColor: #CBCBCB;
$darkBlueColor: #195A62;

$novaFont: var(--font-nova), sans-serif;
$leagueFont: var(--font-league), sans-serif;

$headerHeight: 90px;

%xPadding {
	padding-left: 30px;
	padding-right: 30px;

  @media (min-width: 768px) {
    padding-left: 5vw;
	  padding-right: 5vw;
  }

  @media (min-width: 1440px) {
    padding-left: 8vw;
    padding-right: 8vw;
  }
}

%xMargin {
	margin-left: 30px;
	margin-right: 30px;

  @media (min-width: 768px) {
    margin-left: 5vw;
	  margin-right: 5vw;
  }

  @media (min-width: 1440px) {
    margin-left: 8vw;
    margin-right: 8vw;
  }
}

%xPaddingClear {
	margin-left: -30px;
	margin-right: -30px;

  @media (min-width: 768px) {
    margin-left: -5vw;
	  margin-right: -5vw;
  }

  @media (min-width: 1440px) {
    margin-left: -8vw;
    margin-right: -8vw;
  }
}